.main{
    padding: 24px
}

.my-custom-previous-class {
    background-color: white;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .my-custom-next-class {
    background-color: white;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
  }